@model GigHub.ViewModels.GigDetailsViewModel

@{
    ViewBag.Title = "Gig Details";
    var gig = Model.Gig;
}

<div id="gig-details">
    <h2>
        @gig.Artist.Name
        @if (Request.IsAuthenticated)
        {
            <button data-artist-id="@gig.ArtistId" data-isFollowing="@Model.IsFollowing"
                    class="btn @(Model.IsFollowing ? "btn-info" : "btn-default") js-toggle-following">
                @Model.FollowingButtonText
            </button>
        }
    </h2>
    
    <p>Performing @gig.Genre.Name event at @gig.Venue on @gig.Date at @gig.Time.</p>


    @if (!gig.Active)
    {
        <span class="label label-warning">This event has been cancelled</span>

    }
    else if (Model.IsAttending)
    {
        <p class="highlight">You are going to this event.</p>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            GigDetailsController.init("#gig-details");
        });
    </script>
}
