@model GigHub.Core.ViewModels.GigFormViewModel

@{
    ViewBag.Title = @Model.Heading;
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm("Save", "Gigs"))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    <div class="form-group">
        @Html.LabelFor(m => m.GigDto.Venue)
        @Html.TextBoxFor(m => m.GigDto.Venue, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.GigDto.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GigDto.Date)
        @Html.TextBoxFor(m => m.GigDto.Date, "{0:d MMM yyyy}", new { @class = "form-control", placeholder = "1 Jan 2020" })
        @Html.ValidationMessageFor(m => m.GigDto.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GigDto.Time)
        @Html.TextBoxFor(m => m.GigDto.Time, new { @class = "form-control", placeholder = "20:00" })
        @Html.ValidationMessageFor(m => m.GigDto.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GigDto.GenreId)
        @Html.DropDownListFor(m => m.GigDto.GenreId, new SelectList(Model.GenreDtos, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GigDto.GenreId)
    </div>

    @Html.HiddenFor(m => m.GigDto.Id)
    @Html.HiddenFor(m => m.GigDto.ArtistId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}