@model IEnumerable<GigHub.Dtos.GigDto>

@{
    ViewBag.Title = "My Upcoming Gigs";
}

@if (!Model.Any())
{
    <h1>You don't have any upcoming gigs.</h1>
}
else
{
    <h1 class="voffset5">My Upcoming Gigs</h1>

    <ul class="gigs voffset5">
        @foreach (var gig in Model)
        {
            <li>
                <div class="date">
                    <div class="month">@gig.Month</div>
                    <div class="day">@gig.Day</div>
                    <div class="year">@gig.Year</div>
                </div>
                <div class="details">
                    <span class="venue">@gig.Venue</span>
                    <span class="genre">@gig.Genre.Name</span>
                    <div class="actions">
                        <a href="@Url.Action("Edit", "Gigs", new {id = gig.Id})">
                            Edit
                        </a> |
                        <a class="js-cancel-gig" data-gig-id="@gig.Id">
                            Cancel
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
}


@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-cancel-gig").click(function(e) {
                var cancelLink = $(e.target);

                if (confirm("Are you sure you want to cancel this event?")) {
                    $.ajax(
                    {
                        url: "/api/gigs/" + cancelLink.attr("data-gig-id"),
                        method: "DELETE"
                    })
                    .done(function() {
                        cancelLink.parents("li").fadeOut(function() {
                            $(this).remove();
                        });
                    })
                    .fail(function () {
                        alert("An error has occured!");
                    });
                }
            });
        });
    </script>
}